<!-- Define una barra de herramientas con el color primario y la clase "footer" -->
<mat-toolbar color="primary" class="footer">
<!-- Crea una lista de elementos de redes sociales con la clase "social-media" -->
<ul class="social-media">
<!-- Agrega un elemento "li" para mostrar el título "Social Media" -->
<li>Social Media</li>
<!-- Agrega un elemento "li" para mostrar el icono de Facebook con la clase "fab fa-facebook-f" -->
<li><i class="fab fa-facebook-f"></i></li>
 <!-- Agrega un elemento "li" para mostrar el icono de Twitter con la clase "fab fa-twitter" -->
<li><i class="fab fa-twitter "></i></li>
 <!-- Agrega un elemento "li" para mostrar el icono de Instagram con la clase "fab fa-instagram" -->
<li><i class="fab fa-instagram"></i></li>
<!-- Agrega un elemento "li" para mostrar el icono de LinkedIn con la clase "fab fa-linkedin" -->
<li><i class="fab fa-linkedin"></i></li>
</ul>
</mat-toolbar>
