<!-- Define una barra de herramientas con el color primario y la clase "nav-bar" -->
<mat-toolbar color="primary" class="nav-bar">
<!-- Contenedor del menú de navegación y botón de contacto -->
<span>Aerojet</span>
 <!-- Contenedor del menú de navegación y botón de contacto -->
 <header class="header">
      <!-- Menú de navegación -->
    <nav>
       <ul class="nav-links">
         <!-- Elementos del menú -->
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About Us</a></li>
       </ul>            
    </nav>
     <!-- Botón de contacto -->
    <a class="btn" href="#"><button>Contact</button></a>
</header>
</mat-toolbar>

