<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Imagénes </title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="carrusel.component.scss">
</head>
<body>
    <!--  Un contenedor para el deslizador de imágenes -->
    <div class="slider">
    <!-- Un elemento de figura que contiene una imagen y una leyenda para "San Valentin" -->
    <figure>
    <img src="assets/img/San-Valentin.png" alt="San Valentin">
    <figcaption>San Valentin</figcaption>
    </figure>
     <!-- Un elemento de figura que contiene una imagen y una leyenda para "Planes" -->
    <figure>
    <img src="assets/img/Planes.png" alt="Planes">
    <figcaption>Planes</figcaption>
    </figure>
     <!-- Un elemento de figura que contiene una imagen y una leyenda para "Paquetes" -->
    <figure>
    <img src="assets/img/Paquetes.png" alt="Paquetes">
    <figcaption>Paquetes</figcaption>
    </figure>
     <!-- Un elemento de figura que contiene una imagen y una leyenda para "Eventos" -->
    <figure>
    <img src="assets/img/Eventos.png" alt="Eventos">
    <figcaption>Eventos</figcaption>
    </figure>
    </div>
 </body>
</html>